html {
    scroll-behavior: smooth;
}

#aMain::after {
    background-image: url(./down-arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 1.5em;
    left: 50%;
    margin: 0 0 0 -0.75em;
    position: absolute;
    width: 1.5em;
}

@keyframes zoominandout {
    0% {
        -webkit-transform: scale(1,1);
    }
    50% {
        -webkit-transform: scale(1.15, 1.15);
    }
    100% {
        -webkit-transform: scale(1,1);
    }
}

#aMain {
    display: inline;
    position: relative;
    top: 55vh;
    left: 44vw;
    font-size: 2vw;
    color: white;
    width: 16vw;
    height: 16vw;
}

#aSpan {
    display: inline-block;
    -webkit-animation: zoominandout 1s infinite;
}
.overallStats {
    display: inline-block;
    color:white;
    font-size: 2vw;
    width:40vw;
    height : 20vh;
    text-align: center;
}

.resultOverallStats {
    display: block;
}

#infectionRate::after {
    content: "";
    clear: both;
    display: table;
  }

[target="_blank"]:hover {
    opacity: 0.8;
    cursor: pointer;
}

[class*="fa-"]:hover {
    opacity: 0.8;
    cursor: pointer;
}

[class*="fa-"] {
   padding-right: 3vw;
   color:#8f9193
  }

.links {
    text-decoration: none;
    color: white;
}